<br>
<div class="card text-center">
    <div class="card-header">
        About me
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">I am a tech person and like to learn new things about technology. 😃
                             I have a slow PC with my fast mind. &#x26A1; 
                             This is a good tech challage for me to learn and imporve my skils.
                             This is not a fully completed project, However it is worth looking in to... 🍦
        </p>
      
    </div>


</div>
