<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- <head>
    <link href="/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss" rel="stylesheet">
    <link href="/node_modules/@fortawesome/fontawesome-free/scss/brands.scss" rel="stylesheet">
    <link href="/node_modules/@fortawesome/fontawesome-free/scss/solid.scss" rel="stylesheet">
  </head> -->
<br>
<div class="card text-center">
    <div class="card-header">
        Contact Support
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
            Address: 123 Durban
            <br>
            Number: 123-456-456
            <br>
            <a href="mailto:AppSupport@example.com?subject = Support = Message" class="btn btn-primary">
                Send Feedback
            </a>
            <br>
        </p>
        
    </div>
    <!-- <a href="#" class="fa fa-instagram"></a> -->
    
<i class="fa-solid fa-user"></i>
<span class="fa-solid fa-user"></span>
   
<i class="fa-brands fa-space-awesome"></i>

    
</div>


  